/*=======================================================*/
/*                     Pear Theme                        */ 
/*=======================================================*/

.igdw_Control
{
	border:solid 1px #9A9A9A;
}

.igdw_HeaderArea
{
	background-image:url(webdialogwindow/igdw_Top.gif);
	cursor:default;
	font-size:1px;
}


/* used only when header visible */
.igdw_HeaderCornerLeft
{
	background-position:top left ;
	background-image:url(webdialogwindow/igdw_Top.gif);
	width: 9px;
}

/* used only when header visible */
.igdw_HeaderContent
{
	background-image:url(webdialogwindow/igdw_Top.gif);
}

/* used only when header visible */
.igdw_HeaderCornerRight
{
	background-position:top right ;
	background-image:url(webdialogwindow/igdw_Top.gif);
	width: 9px;
}



.igdw_BodyContent
{
	background-color:white;
	border-left:solid 1px #CCCCCC;
	border-right:solid 1px #CCCCCC;
	border-bottom:solid 1px #CCCCCC;
	padding:10px;
	overflow-x:auto;
	overflow-y:auto;
}

.igdw_HeaderButton
{
	cursor:default;
	margin-top:3px;
	margin-left:5px;
}

.igdw_HeaderCaption
{
	margin-top:16px;
	margin-left:6px;
	padding-top:10px;
	color:White;
	font-weight:bold;
	height: 24px;
	white-space:nowrap;
}

.igdw_HeaderButtonArea
{
	vertical-align:top;
	text-align:right;
	height:24px;
	width:80px;
	padding-right:5px;
	white-space:nowrap;
}

.igdw_HeaderImage
{
	cursor:default;
}

.igdw_ModalBackground
{
	filter:alpha(opacity:50);
	opacity:0.5;
	position:absolute;
	left:0px;
	top:0px;
	width:100%;
	height:100%;
	background-color:white;
}

.igdw_ResizingHandle
{
}

/* used only when header hidden */
.igdw_BodyCornerTopLeft
{
	/* background-image: url(webdialogwindow/igdw_TopLeft.gif); */
}

/* used only when header hidden */
.igdw_BodyEdgeTop
{
	background-image: url(webdialogwindow/igdw_TopHidden.gif);
}

/* used only when header hidden */
.igdw_BodyCornerTopRight
{
	/* background-image: url(webdialogwindow/igdw_TopRight.gif); */
}

.igdw_BodyEdgeLeft
{
	background-color:#EEEEEE;
	width: 6px;
}

.igdw_BodyEdgeRight
{
	background-color:#EEEEEE;
	width: 6px;
}

.igdw_BodyCornerBottomLeft
{
	background-color:#EEEEEE;
	font-size:1px;
	height: 14px;
	width: 9px;
}

.igdw_BodyContentArea
{
	vertical-align:top;
}

.igdw_BodyCornerBottomRight
{
	background-color:#EEEEEE;
	font-size:1px;
	height: 14px;
	width: 9px;
}

.igdw_BodyEdgeBottom
{
	background-color:#EEEEEE;
	font-size:1px;
	height: 14px;
}
