/*=======================================================*/
/*                      Pear Theme                       */ 
/*=======================================================*/
.igGrid {
	background-color: #FFFFFF;
	border: 1px solid #4F7600;  /* dark green border*/
	border-collapse: collapse;
	empty-cells: show;
	color:#000000;
	line-height: 20px;
}

.igGridHeader {
	background-color: #BBD17E;
	font-weight: bold;
	padding: 5px 10px 5px 10px;	
	color : #000000;
	white-space: nowrap;
}

.igGridFooter {
	border-top: 1px solid #ADC654;
	white-space: nowrap;
}

.igGridColumn {
	border-top: 1px solid #d8d8d8;
	padding: 5px 10px 5px 10px;
	white-space: nowrap;
}

.igGridColumnCaret {
	background-color: #4f7600;
	width: 2px;
}

.igGridColumnHeader {
    background-color: #EEF5DD;
	padding: 5px 10px 5px 10px;		
	font-weight: bold;
	text-align: left;
	color : #000000;
	white-space: nowrap;
}
.igGridColumnHeader  A {
	color: #000000;
	text-decoration:none;	
}
.igGridColumnHeader A IMG
{
vertical-align: middle;
}

.igGridColumnHeader  A:hover {
	color: #636A4C;
	text-decoration:underline;	
}
.igGridColumnHeader A LABEL {
	cursor:pointer;
}
.igGridColumnFooter {
	border-top: 1px solid #ADC654;
	white-space: nowrap;
}
.igGridRow {
	background-color: #F0F0F0;
}
.igGridRowAlternate {
	background-image: url(webgrid/igwg_item_alt.gif);
}
.igGridRowHover {
	background-color:  #636a4c;
	color: white;
}
.igGridRowSelected {
	background-color: #8DA637;
	color: #ffffff;
}
.igGridRowExpanded {
	padding: 0px 0px 0px 32px;
}
.igGridCellEdit {
	font-family:Verdana,Geneva,Arial,Helvetica,Sans-Serif;
	font-size:8pt;
	padding: 4px 8px 4px 8px;
	color: #000000;;
}
.igGridCellActive {
	background-image: url(webgrid/igwg_item_selected.gif);
	color: white;
}
.igGridColumnActive {
	background-image: url(webgrid/igwg_item_selected.gif);
	color: white;
}
.igGridRowActive {
	background-image: url(webgrid/igwg_item_selected.gif);
}

.igGrid_AgPanel {
	display: block;
	background-color: #EEF5DD;
	padding: 5px;
	color: #000000;	
}
.igGridColumnFilter {
	background-color: #DBDBDB;
    background-position: top;
	padding:0px 10px 0px 10px;	
	height:5px;
	font-weight: bold;
	text-align: left;
	color : #333;
	white-space: nowrap;
}
.igGridColumnFilterButton { 
	height:20px;
	width:13px;
	padding-right:10px;
	border:none;
	background-color:transparent;
}
.igGridFilterDropDownItem {
	font-size:11px;
	font-family: Verdana;
	padding:1px 3px 1px 3px;
	cursor: default;
}
.igGridFilterDropDown {
	background-color:#FCFCFC;
	border:solid 1px #ACACAC;
	overflow: auto;
	width: 150px;
	max-height: 150px;
	height: auto !important;
	height: 150px;
}
