/*=======================================================*/
	/*                      Pear Theme                        */
	/*=======================================================*/
.igTabView {
	
}

.igTabView tr, .igTabView td {
	margin: 0px;
	padding: 0px;
}

.igTabItems * {
	white-space: nowrap;
}

.igTabItemLeft {
	background-image: url(webtab/igwtb_tabiteml.gif);
	background-repeat: no-repeat;
	background-position: left top;
	padding-left: 0px;
	border-bottom: 1px solid #A3C736;
}

.igTabItemRight {
	background-image: url(webtab/igwtb_tabitemr.gif);
	background-repeat: no-repeat;
	background-position: right top;
	cursor: pointer;
	padding: 5px 10px 4px 4px;
	border-bottom: 1px solid #A3C736;
}

.igTabItem {
	color: #809B37;
	text-decoration: none;
}

.igTabItemSelectedLeft {
	background-image: url(webtab/igwtb_tabitemsl.gif);
	background-repeat: no-repeat;
	background-position: left top;
	padding-left: 0px;
}

.igTabItemSelectedRight {
	background-image: url(webtab/igwtb_tabitemsr.gif);
	background-repeat: no-repeat;
	background-position: right top;
	padding: 5px 10px 4px 4px;
}

.igTabItemSelected {
	color: #000000;
	text-decoration: none;
	font-weight: bold;
}

.igTabItemHoverLeft {
	background-image: url(webtab/igwtb_tabitemhl.gif);
	background-repeat: no-repeat;
	background-position: left top;
	padding-left: 0px;
	border-bottom: 1px solid #A3C736;
}

.igTabItemHoverRight {
	background-image: url(webtab/igwtb_tabitemhr.gif);
	background-repeat: no-repeat;
	background-position: right top;
	cursor: pointer;
	padding: 5px 10px 4px 4px;
	border-bottom: 1px solid #A3C736;
}

.igTabItemHover {
	color: #ffffff;
	text-decoration: none;
}

.igTabItemDisabledLeft {
	background-image: url(webtab/igwtb_tabiteml.gif);
	background-repeat: no-repeat;
	background-position: left top;
	padding-left: 0px;
	border-bottom: 1px solid #A3C736;
}

.igTabItemDisabledRight {
	background-image: url(webtab/igwtb_tabitemr.gif);
	background-repeat: no-repeat;
	background-position: right top;
	padding: 5px 10px 4px 4px;
	border-bottom: 1px solid #A3C736;
}

.igTabItemDisabled {
	color: #CBDC9C;
	text-decoration: none;
}

.igTabItemSeparator {
	font-size: 1px;
	border-bottom: 1px solid #A3C736;
	padding-left: 1px;
	border-bottom: 1px solid #A3C736;
}

.igTabItemSpacer {
	border-bottom: 1px solid #A3C736;
	font-size: 1px;
	padding-left: 10px;
	width: 100%;
}

.igTabItemContent {
	/*margin-top: -2px;*/
	padding: 5px;
	background-color: white;
	border-left: 1px solid #A3C736;
	border-right: 1px solid #A3C736;
	border-bottom: 1px solid #A3C736;
}
