/*=======================================================*/
/*                     Appletini Theme                         */ 
/*=======================================================*/
/* 							STACKBAR					 */
/*=======================================================*/
/* default look and feel of the stackBar */ 
.igStackbar {
	border: 1px solid #85A003;
	background-color: #ffffff;
}

/* default look and feel of the content area of the stackbarGroup */ 
.igStackbarGroupContent {
	background-color: #ffffff;
	border-bottom: 1px solid #85A003; 
	padding: 10px;

}

.sampleLinks A, .samplesLinks A:Visited {
	color:#696969;
	text-decoration:none;
	display:block;
}

.sampleLinks A:Hover, .samplesLinks A:Visited:Hover {
	color: #85A003;
	text-decoration:underline;
	display:block;
}

/* default look and feel of the header area of the group whenever collapsed */ 
.igStackbarGroup {
	background-color: #1F58C8;
	background-image:url(webbar/igwb_header.gif);
	border-bottom: 1px solid #85A003;

	background-position:center;
	color: #ffffff;
	font-weight: bold;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 4px;
	padding-bottom: 4px;
	text-decoration: none;

}

/* hover look and feel of the header area of the group whenever collapsed and hovered */ 
 .igStackbarGroupHover {
	background-color: #1F58C8;
	background-image:url(webbar/igwb_headerhover.gif);
	border-bottom: 1px solid #85A003;
	background-position:center;
	color: #85A003;
	font-weight: bold;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 4px;
	padding-bottom: 4px;
	text-decoration: none;

 }

/* default look and feel of the header area of the group whenever expanded */ 
.igStackbarGroupExpanded {
	background-color: #1F58C8;
	background-image:url(webbar/igwb_header.gif);
	border-bottom: 1px solid #85A003;
	background-position:center;
	color: #ffffff;
	font-weight: bold;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 4px;
	padding-bottom: 4px;
	text-decoration: none;

}

/* hover look and feel of the header area of the group whenever expanded and hovered */ 
 .igStackbarGroupExpandedHover {
	background-color: #1F58C8;
	background-image:url(webbar/igwb_headerhover.gif);
	border-bottom: 1px solid #85A003;
	background-position:center;
	color: #85A003;
	font-weight: bold;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 4px;
	padding-bottom: 4px;
	text-decoration: none;

 }

/*=======================================================*/
/* 							SIDEBAR						 */
/*=======================================================*/
/* default look and feel */ 
.igSidebar {
	background-color: #ffffff;
	padding: 10px;
	border: 1px solid #85A003;
}

/* default look and feel of the content area */ 
.igSidebarGroupContent {
	background-color: #ffffff;
	padding: 10px;
}

/* default look and feel of the header area of the group whenever collapsed */ 
.igSidebarGroup {
	background-color: #AA051A;
	background-image:url(webbar/igwb_header.gif);
	border: 1px solid #85A003;
	background-position:center;
	color: #ffffff;
	font-weight: bold;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 4px;
	padding-bottom: 4px;
	text-decoration: none;
}

/* hover look and feel of the header area of the group whenever collapsed and hovered */ 
 .igSidebarGroupHover {
	background-color: #1F58C8;
	background-image:url(webbar/igwb_headerhover.gif);
	border: 1px solid #85A003;
	background-position:center;
	color: #85A003;
	font-weight: bold;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 4px;
	padding-bottom: 4px;
	text-decoration: none;
 }

/* default look and feel of the header area of the group whenever expanded */ 
.igSidebarGroupExpanded {
	background-color: #1F58C8;	
	background-image:url(webbar/igwb_header.gif);
	border: 1px solid #85A003;
	background-position:center;
	color: #ffffff;	
	font-weight: bold;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 4px;
	padding-bottom: 4px;
	text-decoration: none;
}

/* hover look and feel of the header area of the group whenever expanded and hovered */ 
 .igSidebarGroupExpandedHover {
	background-color: #1F58C8;
	background-image:url(webbar/igwb_headerhover.gif);
	border: 1px solid #85A003;
	background-position:center;
	color: #85A003;
	font-weight: bold;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 4px;
	padding-bottom: 4px;
	text-decoration: none;	
 }

.igSidebarBetweenGroup {
	padding-top: 15px;
}

