/*=======================================================*/
/*                      Appletini Theme                      */ 
/*=======================================================*/
.igGrid {
	background-color: white;
	border: 1px solid #A3C736;  /* dark green border*/
	border-collapse: collapse;
	empty-cells: show;
	color:#696969;
	line-height: 20px;
}

.igGridHeader {
	background-color: #AACC44;
	background-image:url(webgrid/igwg_gridheader.gif);
	background-position: center;
	color : #333333;
	font-weight: bold;
	padding: 5px 10px 5px 10px;	
	white-space: nowrap;
}
.igGridFooter {

}
.igGridColumn {
	border-top: 1px solid #E5E5E5;
	padding: 5px 10px 5px 10px;
	white-space: nowrap;
}
.igGridColumnCaret {
	background-color: white;
	width: 2px;
}
.igGridColumnHeader {
    background-color: #AACD04;
	padding: 5px 10px 5px 10px;	
	background-image:url(webgrid/igwg_gridheader.gif);
	background-position: center;
	color : #333333;
	font-weight: bold;
	padding: 5px 10px 5px 10px;	
	text-align: left;
	white-space: nowrap;
}
.igGridColumnHeader A IMG
{
vertical-align: middle;
}

.igGridColumnHeader  A {
	color: #333333;
	text-decoration:none;	
}

.igGridColumnHeader  A:Hover {
	color: #ffffff;
	text-decoration:underline;	
}
.igGridColumnHeader A LABEL {
	cursor:pointer;
}
.igGridColumnFooter {
	border-bottom: 1px solid #E5E5E5;
	border-top: 1px solid #E5E5E5;
	white-space: nowrap;
}
.igGridRow {
	background-image: url(webgrid/igwg_item_bg.gif);
}
.igGridRowAlternate {
	background-image: url(webgrid/igwg_alt_item.gif);
}
.igGridRowHover {
	background-color: #E7E3D8;
	background-image:url(webgrid/igwg_rowhover.gif);
	background-position:center;
	color: #85A003;
}
.igGridRowSelected {
	background-color: #A3C736;
	color: #ffffff;
}
.igGridRowExpanded {
	padding: 0px 0px 0px 32px;
}

.igGridCellEdit {
	font-family:Verdana,Geneva,Arial,Helvetica,Sans-Serif;
	font-size:8pt;
	padding: 4px 8px 4px 8px;
	color: #000000;;
}
.igGridCellActive {
	background-image:url(webgrid/igwg_gridheader_hover.gif);
	background-position: center;
	color: black;
}
.igGridColumnActive {
	background-image: url(webgrid/igwg_gridheader_hover.gif);
}
.igGridRowActive {
	background-image:url(webgrid/igwg_gridheader_hover.gif);
	background-position: center;
}

.igGrid_AgPanel {
	display: block;
	background-image:url(webgrid/igwg_agbg.gif);
	padding: 5px;
	color: #000000;	
}
.igGridColumnFilter {
	
    background-color: #ECFDD9;
    background-position: top;
    border-bottom:solid 1px #E5E5E5;    
	padding:0px 10px 0px 10px;	
	height:5px;
	font-weight: bold;
	text-align: left;
	color : #000000;
	white-space: nowrap;
}
.igGridColumnFilterButton { 
	height:20px;
	width:13px;
	padding-right:10px;
	border:none;
	background-color:transparent;
}
.igGridFilterDropDownItem {
	font-size:11px;
	font-family: Verdana;
	padding:1px 3px 1px 3px;
	cursor: default;
}

.igGridFilterDropDown {
	background-color:#FCFCFC;
	border:solid 1px #ACACAC;
	overflow: auto;
	width: 150px;
	max-height: 150px;
	height: auto !important;
	height: 150px;
}
