/*=======================================================*/
/*                      Nautilus Theme                   */ 
/*=======================================================*/
.igGrid {
	background-color: white;
	border:solid 1px #4E79A3;
	border-collapse: collapse;
	empty-cells: show;
	color:#333333;
	line-height: 20px;
}

.igGridHeader {
	background-color: #AACC44;
	background-image:url(webgrid/igwg_gridheader.gif);
	background-position:center;
	font-weight: bold;
	padding: 5px 10px 5px 10px;	
	color : #ffffff;
	white-space: nowrap;
}
.igGridFooter {
	border-top: 1px solid #E5E5E5;
	white-space: nowrap;
}
.igGridColumn {
	border-top: 1px solid #E5E5E5;	
	padding: 5px 10px 5px 10px;
	white-space: nowrap;
}
.igGridColumnCaret {
	background-color: #ff9900;
	width: 2px;
}
.igGridColumnHeader {
    background-image:url(webgrid/igwg_gridheader.gif);
    background-position: center;
	padding: 5px 10px 5px 10px;		
	font-weight: bold;
	text-align: left;
	color : #ffffff;
	white-space: nowrap;
}
.igGridColumnHeader  A {
	color: #ffffff;
	text-decoration:none;
}
.igGridColumnHeader A IMG
{
vertical-align: middle;
}

.igGridColumnHeader  A:Hover{
	color: #ffffff;
	text-decoration:underline;
}
.igGridColumnHeader A LABEL {
	cursor:pointer;
}
.igGridColumnFooter {
	border-top: 1px solid #E5E5E5;
	white-space: nowrap;
}
.igGridRow {
}
.igGridRowAlternate {
	background-color:#F6F9FB;
}
.igGridRowHover {
	background-image:url(webgrid/igwg_rowhover.gif);
	background-position:center;
	color: white;
}
.igGridRowSelected {
	background-image:url(webgrid/igwg_rowhover.gif);
	background-position:center;
	background-repeat:repeat-x;
	color: white;
}
.igGridRowExpanded {
	padding: 0px 0px 0px 32px;
}
.igGridCellEdit {
	font-family:Verdana,Geneva,Arial,Helvetica,Sans-Serif;
	font-size:8pt;
	padding: 4px 8px 4px 8px;
	color: #000000;;
}
.igGridCellActive {
	background-image:url(webgrid/igwg_item_selected.gif);
	color: white;
}
.igGridColumnActive {
	background-image:url(webgrid/igwg_gridheader_hover.gif);
	background-position: top;
	color: white;
}
.igGridRowActive {
	background-image:url(webgrid/igwg_item_selected.gif);
}

.igGrid_AgPanel {
	display: block;
	background-image:url(webgrid/igwg_agbg.gif);
	padding: 5px;
	color: #333333;	
}
.igGridColumnFilter {
	background-color: #DBDBDB;
    background-position: top;
	padding:0px 10px 0px 10px;	
	height:5px;
	font-weight: bold;
	text-align: left;
	color : #000000;
	white-space: nowrap;
}
.igGridColumnFilterButton { 
	height:20px;
	width:20px;
	border:none;
	background-color:transparent;
}
.igGridFilterDropDownItem {
	font-size:11px;
	font-family: Verdana;
	padding:1px 3px 1px 3px;
	cursor: default;
}
.igGridFilterDropDown {
	background-color:#FCFCFC;
	border:solid 1px #ACACAC;
	overflow: auto;
	width: 150px;
	max-height: 150px;
	height: auto !important;
	height: 150px;
}

