#Fri Nov 05 08:24:22 CST 2010
WDT_USEPGMCALLJCA=false
WDT_RUNTIMELIB=; gcpmcaja; PRODDTA; PRODCTL
WDT_RUNTIMECURLIB=*USRPRF
WDT_RUNTIMELIBPOSITIONS=;*LAST;*LAST;*LAST
WDT_PGMCALLJNDI=
WDT_HOSTNAME=192.168.1.3
WDT_RUNTIMEINITCMD=
WDT_PASSWORDENCODING_ENABLE=true
WDT_PASSWORD=>TTIfiJiJ
WDT_USERID=APPCP1
