#Fri Nov 05 08:24:22 CST 2010
WDT_USEPGMCALLJCA=false
WDT_RUNTIMELIB=; e2gcpmcaja; CRPDTA920; CRPCTL920
WDT_RUNTIMECURLIB=*USRPRF
WDT_RUNTIMELIBPOSITIONS=;*LAST
WDT_PGMCALLJNDI=
WDT_HOSTNAME=172.29.9.150
WDT_RUNTIMEINITCMD=
WDT_PASSWORDENCODING_ENABLE=true
WDT_PASSWORD=>TTIfiJiJ
WDT_USERID=APPCP1