<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory name="ENSCON">

		<property name="connection.provider_class">
   					 org.hibernate.connection.C3P0ConnectionProvider
		</property>
		<property name="hibernate.c3p0.acquireIncrement">1</property>
		<property name="hibernate.c3p0.min_size">0</property>
		<property name="hibernate.c3p0.max_size">30</property>
		<property name="hibernate.c3p0.initialPoolSize">0</property>
		<property name="hibernate.c3p0.max_statements">500</property>
		<property name="hibernate.c3p0.maxStatementsPerConnection">20</property>
		<property name="hibernate.c3p0.maxConnectionAge">60</property>
		<property name="hibernate.c3p0.timeout">45</property>
		<property name="hibernate.c3p0.idle_test_period">30</property>

        <property name="hibernate.connection.username">appcp</property>
        <property name="hibernate.connection.password">appcp1810</property>

		<property name="hibernate.default_catalog">SYSTEMIP</property>
		<property name="hibernate.default_schema">ENS</property>
        <property name="current_session_context_class">thread</property>
        <property name="hibernate.connection.url">jdbc:as400:192.168.1.3/ENS;prompt=false</property>
        <property name="hibernate.connection.driver_class">com.ibm.as400.access.AS400JDBCDriver</property>
 		<property name="hibernate.dialect">org.hibernate.dialect.DB2Dialect</property>
 		
        <mapping resource="com/casapellas/entidades/Appsec.hbm.xml" />
        <mapping resource="com/casapellas/entidades/Usuario.hbm.xml" />
        <mapping resource="com/casapellas/entidades/Log.hbm.xml" />
        <mapping resource="com/casapellas/entidades/Perfil.hbm.xml" />
        <mapping resource="com/casapellas/entidades/Seccion.hbm.xml" />
        <mapping resource="com/casapellas/entidades/Aplicacion.hbm.xml" />
		<mapping resource="com/casapellas/entidades/Usrung.hbm.xml" />
		<mapping resource="com/casapellas/entidades/Persecaut.hbm.xml" />
		<mapping resource="com/casapellas/entidades/Usrper.hbm.xml" />       
        <mapping resource="com/casapellas/entidades/Valorcatalogo.hbm.xml" />
        <mapping resource="com/casapellas/entidades/Catalogo.hbm.xml" />

    </session-factory>
</hibernate-configuration>