/*=======================================================*/
/*                      Caribbean Theme                      */ 
/*=======================================================*/
.igGrid  {
	background-color: white;
	border: 1px solid #2852BD;  /* dark blue border*/
	border-collapse: collapse;
	empty-cells: show;
	color:#696969;
}

.igGridHeader {
	background-color: #CC0066;
	background-image:url(webgrid/igwg_gridheader.gif);
	background-position:center;
	font-weight: bold;
	padding: 5px 10px 5px 10px;	
	color : #ffffff;
	border-bottom: 1px solid #DCDCDC;
	white-space: nowrap;
}
.igGridFooter {
	border-top: 1px solid #DCDCDC;
	white-space: nowrap;
}
.igGridColumn {
	border-top: 1px solid #E5E5E5;
	padding: 5px 10px 5px 10px;
	white-space: nowrap;
}
.igGridColumnCaret {
	background-color: red;
	width: 2px;
}
.igGridColumnHeader {
    background-color: #3DA7DE;
	padding: 5px 10px 5px 10px;		
	font-weight: bold;
	text-align: left;
	color : #ffffff;
	white-space: nowrap;
}
.igGridColumnHeader A {
	color: #ffffff;
	text-decoration:none;
}

.igGridColumnHeader A:Hover {
	color: #ffffff;
	text-decoration:underline;
}

.igGridColumnHeader A LABEL {
	cursor:pointer;
}
.igGridColumnFooter {
	border-top: 1px solid #DCDCDC;
	white-space: nowrap;
}
.igGridRow {

}
.igGridRowAlternate {
	
}
.igGridRowHover {
	background-color:  #E7E3D8;
	background-image:url(webgrid/igwg_rowhover.gif);
	background-position:center;
	background-repeat:repeat-x;
	color: #2852BD;
}
.igGridRowSelected {
	background-color: #A8ECFD;
	color: #2852BD;
}
.igGridRowExpanded {
	padding: 0px 0px 0px 32px;
}
.igGridColumnFilter {
	background-image:url(webgrid/igwg_gridheader.gif);
    background-color: #AACD04;
    background-position: top;
	padding:0px 10px 0px 10px;	
	height:5px;
	font-weight: bold;
	text-align: left;
	color : #000000;
	white-space: nowrap;
}
.igGridColumnFilterButton { 
	height:20px;
	width:20px;
	border:none;
	background-color:transparent;
}
.igGridFilterDropDownItem {
	font-size:11px;
	font-family: Verdana;
	padding:1px 3px 1px 3px;
	cursor: default;
}
.igGridFilterDropDown {
	background-color:#FCFCFC;
	border:solid 1px #ACACAC;
	overflow: auto;
	width: 150px;
	max-height: 150px;
	height: auto !important;
	height: 150px;
}




