/*=======================================================*/
/*                     Caribbean Theme                        */ 
/*=======================================================*/
/* 							STACKBAR					 */
/*=======================================================*/
/* default look and feel of the stackBar */ 
.igStackbar  {
	border: 1px solid #2852BD;
	background-color: #ffffff;
}

/* default look and feel of the content area of the stackbarGroup */ 
.igStackbarGroupContent  {
	background-color: #ffffff;
	border-bottom: 1px solid #2852BD;
	padding: 10px;

}


.igStackbarGroupContent A {
	color:#666666;
	text-decoration:none;
}

.igStackbarGroupContent A:Hover {
	color: blue;
	text-decoration:underline;
}
.igStackbarGroupContent A:Visited {
	color:#666666;
}
.igStackbarGroupContent A:visited:Hover {
	color: blue;
	text-decoration:underline;
}

/* default look and feel of the header area of the group whenever collapsed */ 
.igStackbarGroup  {
	background-repeat:no-repeat;
	background-image: url(images/infratop.jpg);
	font-size:xx-small;
	font-family: Verdana;
	padding-top:66px;
	width:841px;
	height:66px;
	cursor:hand;
	color:White;

}

/* hover look and feel of the header area of the group whenever collapsed and hovered */ 
 .igStackbarGroupHover  {
	background-color: #1F58C8;
	background-image:url(webbar/igwb_headerhover.gif);
	border-bottom: 1px solid #2852BD;
	background-position:center;
	color: #2852BD;
	font-weight: bold;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 4px;
	padding-bottom: 4px;
	text-decoration: none;

 }

/* default look and feel of the header area of the group whenever expanded */ 
.igStackbarGroupExpanded  {
	background-repeat:no-repeat;
	background-image: url(images/infratop.jpg);
	font-size:xx-small;
	font-family: Verdana;
	padding-top:66px;
	width:841px;
	height:66px;
	cursor:hand;
	color:White;

}

/* hover look and feel of the header area of the group whenever expanded and hovered */ 
 .igStackbarGroupExpandedHover  {
	background-color: #1F58C8;
	background-image:url(webbar/igwb_headerhover.gif);
	border-bottom: 1px solid #2852BD;
	background-position:center;
	color: #2852BD;
	font-weight: bold;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 4px;
	padding-bottom: 4px;
	text-decoration: none;

 }

/*=======================================================*/
/* 							SIDEBAR						 */
/*=======================================================*/
/* default look and feel */ 
.igSidebar  {
	background-color: #F4FDFF;
	padding: 10px;
	border: 1px solid #2852BD;
}

/* default look and feel of the content area */ 
.igSidebarGroupContent  {
	background-color: #ffffff;
	padding: 10px;
}


.igSidebarGroupContent A {
	color:#666666;
	text-decoration:none;
}

.igSidebarGroupContent A:Hover {
	color: blue;
	text-decoration:underline;
}
.igSidebarGroupContent A:Visited {
	color:#666666;
}
.igSidebarGroupContent A:visited:Hover {
	color: blue;
	text-decoration:underline;
}

/* default look and feel of the header area of the group whenever collapsed */ 
.igSidebarGroup  {
	background-color: #AA051A;
	background-image:url(webbar/igwb_header.gif);
	border: 1px solid #2852BD;
	background-position:center;
	color: #ffffff;
	font-weight: bold;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 4px;
	padding-bottom: 4px;
	text-decoration: none;
}

/* hover look and feel of the header area of the group whenever collapsed and hovered */ 
 .igSidebarGroupHover  {
	background-color: #1F58C8;
	background-image:url(webbar/igwb_headerhover.gif);
	border: 1px solid #2852BD;
	background-position:center;
	color: #2852BD;
	font-weight: bold;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 4px;
	padding-bottom: 4px;
	text-decoration: none;
 }

/* default look and feel of the header area of the group whenever expanded */ 
.igSidebarGroupExpanded  {
	background-color: #1F58C8;	
	background-image:url(webbar/igwb_header.gif);
	border: 1px solid #2852BD;
	background-position:center;
	color: #ffffff;
	font-weight: bold;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 4px;
	padding-bottom: 4px;
	text-decoration: none;
}

/* hover look and feel of the header area of the group whenever expanded and hovered */ 
 .igSidebarGroupExpandedHover  {
	background-color: #1F58C8;
	background-image:url(webbar/igwb_headerhover.gif);
	border: 1px solid #2852BD;
	background-position:center;
	color: #2852BD;
	font-weight: bold;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 4px;
	padding-bottom: 4px;
	text-decoration: none;	
 }

.igSidebarBetweenGroup {
	padding-top: 15px;
}

