/*=======================================================*/
/*                      Trendy Theme                      */ 
/*=======================================================*/
.igGrid {
	background-color: white;
	border: 1px solid #109a48;  
	border-collapse: collapse;
	empty-cells: show;
	color:#696969;
	line-height: 20px;
}

.igGridHeader {
	background-color: #AACC44;
	background-image:url(webgrid/igwg_gridheader.gif);
	background-position:top;
	font-weight: bold;
	padding: 5px 10px 5px 10px;	
	color : #ffffff;
	white-space: nowrap;
}
.igGridFooter {
	border-top: 1px solid #E5E5E5;
	white-space: nowrap;
}
.igGridColumn {
	border-top: 1px solid #E5E5E5;
	padding: 5px 10px 5px 10px;
	white-space: nowrap;
}
.igGridColumnCaret {
	background-color: white;
	width: 2px;
}
.igGridColumnHeader {
    background-color: #00BBFF;
	background-image:url(webgrid/igwg_gridheader.gif);
	background-position: center;
	padding: 5px 10px 5px 10px;	
	font-weight: bold;
	text-align: left;
	color : #ffffff;
	white-space: nowrap;
}
.igGridColumnHeader  A {
	color: #ffffff;
	text-decoration:none;
}
.igGridColumnHeader A IMG
{
vertical-align: middle;
}

.igGridColumnHeader  A:Hover {
	color: #ffffff;
	text-decoration:underline;
}
.igGridColumnHeader A LABEL {
	cursor:pointer;
}
.igGridColumnFooter {
	border-top: 1px solid #E5E5E5;
	white-space: nowrap;
}
.igGridRow {

}
.igGridRowAlternate {
	background-image:url(webgrid/igwg_item_alt.gif);	
}
.igGridRowHover {
	background-image:url(webgrid/igwg_item_selected.gif);
	background-position: center;
	color: #FFFFFF;
}
.igGridRowSelected {
	background-color:  #00BFFF;
	background-position: center;
	color: #ffffff;
}
.igGridRowExpanded {
	padding: 0px 0px 0px 32px;
}

.igGridCellEdit {
	font-family:Verdana,Geneva,Arial,Helvetica,Sans-Serif;
	font-size:8pt;
	padding: 4px 8px 4px 8px;
	color: #000000;;
}
.igGridCellActive {
	background-image: url(webgrid/igwg_item_selected.gif);
	background-position: center;
	color: white;
}
.igGridColumnActive {
	background-image: url(webgrid/igwg_gridheader_hover.gif);
	background-position: center;
	color: white;
}
.igGridRowActive {
	background-image: url(webgrid/igwg_item_selected.gif);
	background-position: center;
	color: white;
}

.igGrid_AgPanel {
	display: block;
	background-image:url(webgrid/igwg_agbg.gif);
	padding: 5px;
	color: #ffffff;	
}
.igGridColumnFilter {
	background-color: #DBDBDB;
    background-position: top;
	padding:0px 10px 0px 10px;	
	height:5px;
	font-weight: bold;
	text-align: left;
	color : #333;
	white-space: nowrap;
}
.igGridColumnFilterButton { 
	height:20px;
	width:13px;
	padding-right:10px;
	border:none;
	background-color:transparent;
}
.igGridFilterDropDownItem {
	font-size:11px;
	font-family: Verdana;
	padding:1px 3px 1px 3px;
	cursor: default;
}
.igGridFilterDropDown {
	background-color:#FCFCFC;
	border:solid 1px #ACACAC;
	overflow: auto;
	width: 150px;
	max-height: 150px;
	height: auto !important;
	height: 150px;
}
