.chart {
	border: none;
	background: #ffffff;

}

.pane {
	border: none;
	background: #ffffff;
}
		
.caption {
	margin: 2; padding: 4; border: solid 0 #80808080;
	color: #285D94; font-family: Arial; font-size: 16; font-weight: bold;
	 /* shadow-color: #40808080; */
	/* background: url(webchart/igwc_header.gif) */
}
		
.legend {
	margin: 2; padding: 4; border: solid 1 #91A7B4;
	background: #F0F0F0 vertical #ffffff
}

.legendCaption {
}

.legendHeader {
	margin-bottom: 4;
	color: #285D94; shadow-color: #40808080; font-family: verdana; font-size: 12; font-weight: bold;
	background: url(webchart/igwc_header.gif)
}

.legendItem {
	color: black; font-family: verdana; font-size: 11
}

.axis {
	border: solid #80808080
}

.axisGrid {
	border: solid #80808080;
	background:gray;
}

.axisTick {
	color:#333333; shadow-color: #40808080; font-family: Verdana; font-size: 10;
	border: solid #333333; 
}

.series {
	color: white; shadow-color: #40ffffff; font-family: verdana; font-size: 10;	 
	border: 1 solid white; border-join-style: join-miter; border-cap-style: cap-round;
	background: #c0245D7B;
}
.series_max {
	color: white; shadow-color: #40ffffff; font-family: verdana; font-size: 10;	 
	border: 1 solid white; border-join-style: join-miter; border-cap-style: cap-round;
	background: #c0E4F0F7;
}

.candlestick {
	color: black; shadow-color: #40ffffff; font-family: verdana; font-size: 10;	 
	border: 1 solid #93A7B0; border-join-style: join-miter; border-cap-style: cap-round;
	background:#c0245D7B;
}

.candlestick_max {
	color: black; shadow-color: #40ffffff; font-family: verdana; font-size: 10;	 
	border: 1 solid #93A7B0; border-join-style: join-miter; border-cap-style: cap-round;
	background:#c0E4F0F7; 
}
.ohlc {
	color: black; shadow-color: #40ffffff; font-family: verdana; font-size: 10;	 
	border: 1 solid #93A7B0; border-join-style: join-miter; border-cap-style: cap-round;
	background:#c0245D7B;
}

.ohlc_max {
	color: black; shadow-color: #40ffffff; font-family: verdana; font-size: 10;	 
	border: 1 solid #93A7B0; border-join-style: join-miter; border-cap-style: cap-round;
	background:#c0E4F0F7; 
}

.red {
color: black; shadow-color: #40ffffff; font-family: verdana; font-size: 10;
border: 1 solid white; border-join-style: join-miter; border-cap-style: cap-round;
background: red;
}

.green {
color: black; shadow-color: #40ffffff; font-family: verdana; font-size: 10;
border: 1 solid white; border-join-style: join-miter; border-cap-style: cap-round;
background: green;
}

.blue {
color: black; shadow-color: #40ffffff; font-family: verdana; font-size: 10;
border: 1 solid white; border-join-style: join-miter; border-cap-style: cap-round;
background: blue;
}

.yellow {
color: black; shadow-color: #40ffffff; font-family: verdana; font-size: 10;
border: 1 solid white; border-join-style: join-miter; border-cap-style: cap-round;
background: yellow;
}
