.chart {
	border: 1 solid #67431F; padding: 2;
	background: #FBF1F2 vertical #ffffff

}

.pane {
	margin: 2; border: solid 1 #67431F; padding: 2;
	background: #FFFFFF #E8E7E6 vertical
}
		
.caption {
	margin: 2; padding: 4; border: solid 0 #80808080;
	color: #A00514; font-family: Arial; font-size: 16; font-weight: bold;
	 /* shadow-color: #40808080; */
	/* background: url(webchart/igwc_header.gif) */
}
		
.legend {
	margin: 2; padding: 4; border: solid 1 #67431F;
	background: #F0F0F0 vertical #ffffff
}

.legendCaption {
}

.legendHeader {
	margin-bottom: 4;
	color: #A00514; shadow-color: #40808080; font-family: verdana; font-size: 12; font-weight: bold;
	background: url(webchart/igwc_header.gif)
}

.legendItem {
	color: black; font-family: verdana; font-size: 11
}

.axis {
	border: solid #80808080
}

.axisGrid {
	border: solid #80808080
}

.axisTick {
	color:#333333 shadow-color: #40808080; font-family: Verdana; font-size: 10;
	border: solid #333333; 
}

.series {
	color: black; shadow-color: #40ffffff; font-family: verdana; font-size: 10;	 
	border: 1 solid white; border-join-style: join-miter; border-cap-style: cap-round;
	background: #c06F0009;
}
.series_max {
	color: black; shadow-color: #40ffffff; font-family: verdana; font-size: 10;	 
	border: 1 solid white; border-join-style: join-miter; border-cap-style: cap-round;
	background: #c0FBF1F2;
}
.candlestick {
	color: black; shadow-color: #40ffffff; font-family: verdana; font-size: 10;	 
	border: 1 solid #584638; border-join-style: join-miter; border-cap-style: cap-round;
	background: #c06F0009;
}
.candlestick_max {
	color: black; shadow-color: #40ffffff; font-family: verdana; font-size: 10;	 
	border: 1 solid #584638; border-join-style: join-miter; border-cap-style: cap-round;
	background: #c0FBF1F2;
}
.ohlc {
	color: black; shadow-color: #40ffffff; font-family: verdana; font-size: 10;	 
	border: 1 solid #584638; border-join-style: join-miter; border-cap-style: cap-round;
	background: #c06F0009;
}
.ohlc_max {
	color: black; shadow-color: #40ffffff; font-family: verdana; font-size: 10;	 
	border: 1 solid #584638; border-join-style: join-miter; border-cap-style: cap-round;
	background: #c0FBF1F2;
}