/*=======================================================*/
	/*                      Radio Flyer Theme                       */
	/*=======================================================*/
.igTabView {
	
}

.igTabView tr, .igTabView td {
	margin: 0px;
	padding: 0px;
}

.igTabItems * {
	white-space: nowrap;
}

.igTabItemLeft {
	background-image: url(webtab/igwtb_tabiteml.gif);
	background-repeat: no-repeat;
	background-position: left top;
	font-size: 6px;
	border-bottom: 1px solid #AF1427;
}

.igTabItemRight {
	background-image: url(webtab/igwtb_tabitemr.gif);
	background-repeat: no-repeat;
	background-position: right top;
	cursor: pointer;
	padding: 5px 10px 4px 7px;
	border-bottom: 1px solid #AF1427;
}

.igTabItem {
	color: #ffffff;
	text-decoration: none;
}

.igTabItemSelectedLeft {
	background-image: url(webtab/igwtb_tabitemsl.gif);
	background-repeat: no-repeat;
	background-position: left top;
	font-size: 6px;
}

.igTabItemSelectedRight {
	background-image: url(webtab/igwtb_tabitemsr.gif);
	background-repeat: no-repeat;
	background-position: right top;
	padding: 5px 10px 4px 7px;
}

.igTabItemSelected {
	color: #ffffff;
	text-decoration: none;
	font-weight: bold;
}

.igTabItemHoverLeft {
	background-image: url(webtab/igwtb_tabitemhl.gif);
	background-repeat: no-repeat;
	background-position: left top;
	font-size: 6px;
	border-bottom: 1px solid #AF1427;
}

.igTabItemHoverRight {
	background-image: url(webtab/igwtb_tabitemhr.gif);
	background-repeat: no-repeat;
	background-position: right top;
	cursor: pointer;
	padding: 5px 10px 4px 7px;
	border-bottom: 1px solid #AF1427;
}

.igTabItemHover {
	color: #AA051A;
	text-decoration: none;
}

.igTabItemDisabledLeft {
	background-image: url(webtab/igwtb_tabiteml.gif);
	background-repeat: no-repeat;
	background-position: left top;
	font-size: 6px;
	border-bottom: 1px solid #AF1427;
}

.igTabItemDisabledRight {
	background-image: url(webtab/igwtb_tabitemr.gif);
	background-repeat: no-repeat;
	background-position: right top;
	padding: 5px 10px 4px 7px;
	border-bottom: 1px solid #AF1427;
}

.igTabItemDisabled {
	color: #999999;
	text-decoration: none;
}

.igTabItemSeparator {
	font-size: 1px;
	border-bottom: 1px solid #AF1427;
	padding-left: 1px;
}

.igTabItemSpacer {
	border-bottom: 1px solid #AF1427;
	font-size: 1px;
	padding-left: 10px;
	width: 100%;
}

.igTabItemContent {
	padding: 5px;
	background-color: white;
	border-left: 1px solid #AF1427;
	border-right: 1px solid #AF1427;
	border-bottom: 1px solid #AF1427;
}
